:root {
    --primary-color: #0038a8;
    --secondary-color: #ce1126;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

.hero-container {
    position: relative;
}

.hero-container img {
    width: 100%;
    display: block;
}

.data,
.weather {
    background: white;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ccc;
}

.weather-icon {
    width: 24px;
    max-width: 24px;
    height: auto;
    display: block;
    margin: 0 auto;
}